body {
    font-family: Arial; 
    background-color: rgb(230, 224, 224);
}
#nome {
    font-size: xx-large;
    color: rgba(0, 128, 0, 0.5);
}
#skills {
    color: rgba(0, 128, 0, 0.5) ;
    font-size: larger;
}
header { text-align: center;
    line-height: 0px;
        margin: 50px;
    
}